## Styling Text

**This is for bold example**
__Example for Bold__

*This is an example for Italic*
_Example for Italic_

~~This is an Exmaple for Strikout~~

***This is an Example for All bold and All Italic***

**Raju is _Good_ at Teaching**

## Quoting Text:
    
> This is an example for quoting text

## Quoting code

`` Chapter-1 ``
`` Chapter-2 ``

```
sample
example
for 
quoting Code
```

```sample
example
for 
quoting Code```

## Links

MITS College [View](https://google.com)

## Relative Link:

Example For Relative Link [View](sample.py)

Image [View](logo.jpg)

## Images

![view](logo.jpg)

## Variable Assignments:
    - single variable equal to single value
    - n number of variables equal to n number of values
    - n number of variables equal to single value

In [1]:
n = 30
n

30

In [2]:
k = 45
z = 24.5
k,z

(45, 24.5)

In [3]:
a,c = '12',29
a,c

('12', 29)

In [4]:
a,c,d = 34,12
a,c,d

ValueError: not enough values to unpack (expected 3, got 2)

In [5]:
a,f = 12,34,67,78,
a,f

ValueError: too many values to unpack (expected 2)

In [6]:
a = 12,34,56,67,89
a

(12, 34, 56, 67, 89)

In [7]:
a = b = c = 1
a,b,c

(1, 1, 1)

In [8]:
id(a),id(b),id(c)

(140711357785888, 140711357785888, 140711357785888)

## Data Types:
    - int => Numeric values
    - float => Numeric and Decimal
    - string => ' or "
    - boolean => True or False
    - complex => real and imaginary part
    - none => None
    - All data structures like [list,tuple,set and dictionary]

## Type:
    - To know the data type of a variable
    Syntax:
        type(variablename)

In [2]:
a,b,c,d,e,f,g = 45,89.015,'Kalyan',False,7+3j,None,'67'
a,type(a)
g,type(g)

('67', str)

In [3]:
a,type(a)

(45, int)

In [4]:
g,type(g)

('67', str)

In [5]:
print(a,type(a))
print(g,type(g))

45 <class 'int'>
67 <class 'str'>

In [6]:
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))
print(e,type(e))
print(f,type(f))
print(g,type(g))

45 <class 'int'>
89.015 <class 'float'>
Kalyan <class 'str'>
False <class 'bool'>
(7+3j) <class 'complex'>
None <class 'NoneType'>
67 <class 'str'>

## Input Formatting:
    - It displays an info to a user
    - It reads a value from a user
    - By default it stores string data type value to a variable
    Syntax:
        variablename = input('something info')

In [5]:
n = input("Enter a value: ")
print(n,type(n))

Enter a value: False
False <class 'str'>

In [ ]:
w = 10
w

In [6]:
a

NameError: name 'a' is not defined

In [7]:
n,m = input("Enter a value: "),input("Enter a value: ")
print(n,type(n),m,type(m))

Enter a value: 1
Enter a value: 54
1 <class 'str'> 54 <class 'str'>

## Operators:
    - Arithmetic => +,-,*,/,%,//,** 
    - Logical => AND,OR,NOT
    - Assignment => =,+=,-=,*=,/=,//=,**=,%=
    - Bitwise => &,|,^,!,>>,<<
    - Relational => >,<,>=,<=,!=,==
    - Identity => is,is not
    - Membership => in,not in